<p id="notice"><%= notice %></p>

<h1>
  <%= @artist.name %>
</h1>

<p><%= @song.title%></p>
<p><%= @song.lyrics%></p>

<%= link_to 'Edit', edit_artist_path(@artist) %>
<%= link_to 'Back', artists_path %>
